/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: #dbcccc;
}

*::-webkit-scrollbar-thumb {
	background-color: #4a4388;
	border-radius: 10px;
	border: #ffe0e0;
}
